.container{
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: left;
    margin-left: 10px;
    border: 1px solid;
    width: 50%;
    margin: auto;
    background-color: cadetblue;
    border-radius: 20px;
}

.info{
    margin-left: 50px;
}

.img{
    width: 300px;
}
