.box {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #8680aa
}


.box input {
    height: 35px;
    width: 300px;
    border-radius: 20px;
    border: #ebe8e8;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search{
    height: 25px;
}

.box input:focus {
    outline: none;
}

.barra{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.searchButton {
    height: 35px;
    width: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #39344d;
}

.box button {
    padding: 7px;
    border: transparent;

}

.box button:hover {
    cursor: pointer;
}

.add {
    font-weight: bold;
}

.add:hover {
    cursor: pointer;
}

.reload {
    font-weight: bold;
    border-radius: 10px;
}

.reload:hover {
    cursor: pointer;
}